* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}
:root {
    --semi-dark: #ccc;
    --dark: #212529;
}
body {
    background: linear-gradient(to top, rgb(0, 31, 74,0.3), rgb(180, 6, 33, 0.7)), url(https://i.ibb.co/9YBjnQg/1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container {
    margin: 50px;
    text-align: center;
}
.content__img {
    display: flex;
    justify-content: center;
    margin: 0 5px 40px 5px;
}
.content-sheet {
    box-shadow: 0px 8px 32px 0px rgba(255, 255, 255, 0.9);
}
img {
    width: 50%;
}
.table tbody {
    background: #ccc;
}
.table thead {
    background: #ccc;
}
.table td {
    background: #ccc;
}
.table tbody .course {
    background: #ccc;
    transition: all 0.5s linear;
}
.table tbody .course:hover {
    transform: scale(1.2);
    background: rgb(0, 31, 74);
    border-radius: 10px;
}
.course a {
    position: relative;
    width: 100%;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.course a:hover {
    color: #fff;
}
