* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --semi-dark: #2d333b;
    --dark: #212529;
}
html {
    background-color: var(--semi-dark);
}
.container-global {
    background-color: var(--semi-dark);
}
.table {
    margin-top: 50px;
    text-align: center;
}
.table:hover {
    color: var(--semi-dark);
} 
.table tbody .course {
    background: #fff;
    transition: all 0.5s ease-out;
    border-radius: 0;
    text-decoration: none;
}
.table tbody .course:hover {
    border: none;
    transform: scale(1.2);
}
.table tbody .cn-2:hover {
    background: rgb(207, 226, 243);
}
.table tbody .we:hover {
    background: rgb(252, 229, 205);
}
.table tbody .ea:hover {
    background: rgb(244, 204, 204);
}
.table tbody .cim:hover {
    background: rgb(217, 234, 211);
}